/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    --white: #fff;
    --black: #000;
    --text: #333;
    --btn: #dbb42c;
    --primary: #310029;
    --pink: #e00d7a;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #ffb727;
    text-decoration: none;
}

a:hover {
    color: #ffc85a;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

/*--------------------------------------------------------------
# App
--------------------------------------------------------------*/

#lotto-app {
    background-color: #310029;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#lotto-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#lotto-header .title {
    color: #dbb42c;
    font-family: "Denk One";
}

.search-form {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.search-form input#search {
    width: 300px;
    height: 40px;
    background: #2b303b;
    font-size: 10pt;
    color: #63717f;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 40px;
}

.search-form .search-input {
    background: #2b303b;
}

.search-form input#search::-webkit-input-placeholder {
    color: #65737e;
}

.search-form input#search:focus {
    color: #fff;
}

.search-form .icon {
    position: absolute;
    margin-right: 15px;
    color: #fff;
    right: 0;
    margin-left: 71px;
    margin-top: 8px;
    cursor: pointer;
}


.login-btn,
.register-btn {
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: var(--white);
    background-color: var(--primary);
    padding: 10px 20px;
    border: 4px solid #5c5539;
}

.register-btn {
    margin-left: 4px;
}

.login-btn:hover,
.register-btn:hover {
    background-color: #dbb42c;
}

/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/
#nav {
    background-color: #e00d7a;
    border-radius: 40px;
    border: 5px solid #b77777;
    margin-top: 10px;
    width: 90%;
}

#nav a {
    color: var(--white);
    font-family: "Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif";
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

#nav a:hover {
    background-color: #f2b819;
    color: var(--white);
}

#nav a .icon {
    margin-right: 5px;
}

/*--------------------------------------------------------------
# Banner
--------------------------------------------------------------*/
#banner {
    margin-top: 30px;
    height: 350px;
    width: 100%;
    overflow: hidden;
    background-image: url("../img/uudai_thu3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/*--------------------------------------------------------------
# Mua vé nhanh
--------------------------------------------------------------*/
.cart-content {
    position: relative;
    height: auto;
}

.cart-content::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 136px;
    opacity: 0.6;
    background-image: url("../img/muavenhanh.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.cart-wrap {
    display: flex;
    padding: 20px;
}

.block-title h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    color: var(--btn);
    display: block;
}

.block-title:before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: -20px;
    width: 114px;
    height: 130px;
    background: url(../images/icon-ticket.png) no-repeat center center;
}

.block-list {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    margin-top: 9px;
    max-width: 910px;
    align-self: center;
}

.select-list {
    position: relative;
    height: 48px;
    width: 250px;
    margin: 0 5px;
    display: inline-block;
}

.select-list[data-cate="film"] .select-header {
    border-radius: 0 30px 30px 30px;
}

.select-header {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: auto;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid rgba(255, 255, 255, 0);
}

.select-header h3 {
    display: block;
    padding: 0 40px 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #fff;
    line-height: 44px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: uppercase;
}

.select-header span {
    position: absolute;
}

.select-list:hover .select-box {
    display: block;
}

.select-box {
    position: absolute;
    margin-top: 49px;
    display: none;
    z-index: 999;
}

.select-box li a:hover {
    background-color: #e00d7a;
    color: var(--white);
}

.select-box ul {
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
    position: relative;
    max-height: 350px;
    overflow: hidden;
    overflow-y: auto;
}

.select-box li {
    width: 100%;
    height: auto;
    cursor: pointer;
    background-color: #fff;
    position: relative;
    display: inline-block;
    margin: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.4s ease-in-out;
    border-bottom: 1px solid #e00d7a;
}

.select-box li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    color: #707070;
    font-size: 16px;
    font-family: "MyriadCondensed";
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-align: left;
}

.film-hour {
    background-color: var(--white);
    padding: 8px 10px;
}

.film-hour li {
    display: inline-block;
    width: 42%;
    text-align: center;
    margin: 1px;
    border: none;
    background-color: #bcbcbc;
}

.film-hour li a {
    font-family: "Futurab";
    font-size: 18px;
    font-weight: bold;
    color: #4d4d4d;
    text-align: center;
}

/*--------------------------------------------------------------
# FAQ
--------------------------------------------------------------*/

.faq-content {
    position: relative;
    text-align: right;
}

.section-title {
    position: relative;
    width: 100%;
    padding: 40px 0;
    z-index: 1;
}

.section-title h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 36px;
}

.faq-wrap {
    width: 90%;
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
    height: auto;
    z-index: 1;
}


.faq-wrap .ask {
    display: table;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border-radius: 0px 30px 0px 30px;
    -webkit-border-radius: 0px 30px 0px 30px;
    min-height: 76px;
    cursor: pointer;
    position: relative;
}


.faq-wrap .ask:hover {
    background-color: #e00d7a;    
}

.faq-wrap .ask .number {
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    font-weight: bold;
    color: #ededed;
    font-size: 24px;
    display: table-cell;
    vertical-align: middle;
    width: 80px;
    text-align: center;
}

.faq-wrap .ask h3 {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 50px 10px 0;
    height: 76px;
}

.faq-wrap .ask .st-arrow {
    background: url(../img/arrow7.png) no-repeat center center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 38px;
    margin-top: -15px;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-border-radius: 50%;
    border-radius: 50%;
}



/* .answer-wrap {
    display: none;
    width: 100%;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    -webkit-transition: height 0.3s ease-in-out;
    margin-top: 4px;
} */

.answer-wrap {
    display: none;
    background-color: white;
    overflow: hidden;
    border-radius: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.answer {
    background-color: rgba(255, 255, 255, 0.9);
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: table;
}

.answer-detail {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 20px 10px 0;
}

.faq-wrap .answer .text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: #f37520;
    font-size: 24px;
    width: 140px;
    min-width: 140px;
    display: table-cell;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
}

.faq-form {
    position: relative;
    width: 90%;
    height: auto;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 40px;
    z-index: 1;
}

.faq-form form {
    position: relative;
    width: 100%;
    height: auto;
}

.require-col {
    width: 100%;
    position: relative;
}

.faq-form .input-text {
    margin-bottom: 10px;
}

.faq-form .focus-text {
    height: 44px;
    line-height: 44px;
}

.focus-text {
    font-family: 'MyriadLight';
    font-weight: normal;
    color: #707070;
    font-size: 16px;
    line-height: 48px;
    padding: 0 20px;
    width: auto;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    pointer-events: none;
    text-transform: uppercase;
}

.faq-form .input-text input[type="text"] {
    border-radius: 25px;
    font-family: 'MyriadLight';
    color: #818181;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 20px;
    border: 1px solid #fff;
    width: 100%;
    height: auto;
    font-weight: normal;
    background-color: rgba(255,255,255,1);
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 10%) inset;
}

.faq-form .input-text input[type="text"]:focus, .input-area textarea:focus {
    background-color: #e00d7a;
    color: #fff;
    opacity: 1;
}

input:focus::-webkit-input-placeholder {
    color: #fff;
}

.input-text {
    position: relative;
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 0 rgb(0 0 0 / 10%);
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.faq-form .name {
    width: 100%;
    float: none;
}

.faq-form .tel {
    width: 49.5%;
    float: left;
}

.input-area {
    width: 100%;
    height: 200px;
    position: relative;
    margin: 5px 0 0 0;
    display: inline-block;
    vertical-align: top;
    box-shadow: 5px 5px 0 rgb(0 0 0 / 10%);
    border-radius: 25px;
}

.input-area textarea {
    border-radius: 25px;
    font-family: 'MyriadLight';
    color: #818181;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #fff;
    width: 100%;
    height: 200px;
    padding: 10px 15px;
    font-weight: normal;
    background-color: rgba(255,255,255,1);
    resize: none;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%) inset;
}

textarea:focus::-webkit-input-placeholder {
    color: #fff;
}

.faq-form .email {
    width: 49.5%;
    float: right;
}

.faq-form .input-but {
    text-align: center;
    margin-top: 34px;
}

.input-but {
    position: relative;
    width: auto;
}

.input-but input[type="button"] {
    font-family: 'Futurab';
    font-weight: normal;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #f37520;
    color: #fff;
    border-radius: 30px 30px 30px 0;
    -webkit-border-radius: 30px 30px 30px 0;
    padding: 15px 31px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
}

.faq-form .input-but input[type="button"] {
    font-size: 24px;
    padding: 15px 31px;
}


.rotate-arrow {
    transform: rotate(180deg) !important;
   -o-transition-duration: 0.2;
}